*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat" , sans-serif;
}

body{
    background-color: #161c2d;
    color: white;
}

/* Top header */
.top__header{
    background-color: #4867b0;
    padding: 15px;
}

.top__content{
    justify-content: space-between;
    align-items: center;
}

.top__content ul{
    margin-bottom: 0;
}

.top__content li{
    display: inline-block;
    text-decoration: none;
    margin-right: 20px;
}

.top__content a{
    color: white;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.5s;
}

.top__content .top__left a:hover{
    color: #ff6e65;
}

.top__content .top__right a:hover{
    color: #ff6e65;
}

.top__content .top__left i{
    margin-right: 8px;
    color: white;
    font-size: 15px;
}
/* Bottom header */
.bot__header{
    background-color: #161c2d;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
}

.fixed-top{
    position: sticky;
}

.navbar{
    justify-content: space-between;
}

.navbar h1{
    margin-bottom: 0;
}

.navbar .navbar-brand{
    font-size: 25px;
    font-weight: 600;
    color: white;
    transition: all 0.5s;
}

.navbar-brand:hover{
    color: #ff6e65;
}

.navbar-nav .nav-item{
    padding: 0 12px;
    position: relative;
}

.navbar-nav .nav-item.active .nav-link.active{
    color: #ff6e65;
}

.navbar-nav .nav-link{
    padding: 6px 0;
    font-size: 15px;
    font-weight: 600;
    color: white;   
    transition: all 0.5s ease;
}

.navbar-nav .nav-link:hover{
    color: #ff6e65;
}

.navbar-nav .nav-item .dropdown-menu{
    background: #161c2d;
    border: 1px solid transparent;
    transform: translateX(-50px);
    box-shadow: rgb(12 12 12 / 6%) 0px 1px 20px 0px;
}

.navbar-nav .dropdown-item{
    font-size: 15px;
    font-weight: 600;
    color: white;
    padding: 5px 24px;
    transition: all 0.5s;
}

.navbar-nav .dropdown-item:hover{
    color: #ff6e65;
    background: none;
}

.navbar-nav .search-right{
    margin: 0 10px 0 10px;
}

.navbar-nav .search-box{
    display: flex;
    align-items: center;
}

.navbar-nav .search-box input{
    font-size: 15px;
    color: white;
    background: transparent;
    padding: 10px 35px 10px 20px;
    width: 100%;
    border-radius: 30px;
    border: 2px solid white;
}

.navbar-nav .search-box button{
    position: absolute;
    right: 0;
    color: #4867b0;
    padding: 0 20px 0 0;
    transition: all 0.5s;
}

.navbar-nav .search-box button:hover{
    color: #ff6e65;
}

/* carousel */
.carousel-indicators {
    text-align: right;
    float: right;
    right: -40% !important;
    left: inherit;

}
.carousel-caption {
    left: -5%;
}

.carousel-caption h3 {
    font-size: 50px;
    line-height: 60px;
    color: white;

}
.btn-style {
    padding: 14px 30px;
    font-weight: 600;
    font-size: 16px;
    color: #060606;
    border-radius: 4px;
    background: #fff;
    border: none;

}

/* Feature */
.feature{
    position: relative;
    margin-top: -4em;
}

.feature-content .feature-box{
    padding: 50px 35px;
    position: relative;
    border-radius: 8px;
    z-index: 1;
}

.feature-box.color-1{
    background-color: #037ef3;
}

.feature-box.color-2{
    background-color: #ffc949;
}

.feature-box.color-3{
    background-color: #ff4f81;
}

.feature-box.color-4{
    background-color: #1ee697;
}

.feature-box i{
    color: white;
    font-size: 45px;
    margin-bottom: 25px;
}

.feature-box .feature-text{
    color: white;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.5s;
}

.feature-box .feature-text:hover{
    color: black;
}

/* Welcome */
.title-main{
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    position: relative;
}

.title-main span{
    color: #ff6e65;
}

.title-main::before ,
.title-main::after{
    content: "";
    background: #b7b7b7;
    width: 60px;
    height: 2px;
    position: absolute;
    right: 0;
    margin: 0 auto;
}

.title-main::before{
    left: -20px;
    bottom: -8px;
}

.title-main::after{
    left: 20px;
    bottom: -15px;
}

.welcome-icon i{
    color: #4867b0;
    background-color: rgb(168 176 195 / 11%);
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    font-size: 30px;
}

.welcome-info a{
    color: white;
    text-decoration: none;
    transition: all 0.5s;
}

.welcome-info a:hover{
    color: #ff4f81;
}

.welcome-info .welcome-title1{
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    margin-bottom: 15px;
}

/* Service */
.service-banner{
    background-image: url(../images/bg3.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.service-info{
    background-color: #161c2d;
    padding: 30px;
    border-radius: 8px;
}

.service-icon{
    margin-right: 15px;
}

.service-icon i{
    color: #4867b0;
    background-color: rgb(13 54 159 / 9%);
    font-size: 28px;
    width: 65px;
    height: 65px;
    line-height: 65px;
    border-radius: 50%;
    text-align: center;
}

.service-text h5{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.service-text p{
    margin-bottom: 0;
}

/* Counter */
.counter-heading p{
    margin-bottom: 0;
}

.counter-item .number{
    font-size: 46px;
    font-weight: 600;
}

.counter-item{
    border-right: 1px solid #eee; 
}

/* Feedback */
.feedback-item{
    background-color: #161c2d;
    box-shadow: 0 20px 62px hsla(222, 34%, 17%, 1);
    padding: 30px;
}

.feedback-item i{
    color: #ff6e65;
    font-size: 26px;
}

.feedback-item p{
    color: #9aa4a2;
    font-size: 16px;
    margin-bottom: 20px;
}

.feedback-author{
    display: flex;
    justify-content: flex-start;
}

.feedback-image img{
    border-radius: 50%;
    margin-right: 15px;
}

.feedback-text h5{
    font-weight: 600;
    margin-bottom: 0;
}

.feedback-text p{
    font-size: 14px;
    margin-bottom: 0;
}

/* Instructor */
.instructor-item{
    box-shadow: 0 20px 62px hsla(222, 34%, 17%, 1);
    padding: 10px;
    background-color: transparent;
    border-radius: 8px;
}

.instructor-image{
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.instructor-image img{
    border-radius: 8px 8px 0 0;
    width: 100%;
}

.instructor-icon{
    position: absolute;
    bottom: -220px;
    margin: 0;
    background: rgb(8 8 8 / 29%);
    padding: 20px 0;
    transition: all 0.5s;
    text-align: center;
    width: 100%;
}

.instructor-item:hover .instructor-icon{
    bottom: 0;
}

.instructor-icon i{
    background-color: white;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 50%;
    color: #0d369f;
    font-size: 14px;
    text-align: center;
    margin-right: 10px;
}

.instructor-text h5 a{
    color: white;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.5s;
}

.instructor-item:hover .instructor-text h5 a{
    color: #ff4f81;
}

.instructor-text p{
    font-size: 13px;
    color: #9aa4a2;
    margin-bottom: 0;
}

/* Contact */
.contact-content .contact-title{
    font-size: 35px;
    font-weight: 600;
    line-height: 45px;
}

.contact-content p{
    color: #9aa4a2;
}

.contact-btn button{
    background-color: #ff6e65;
    color: white;
    padding: 14px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 4px;
    transition: all 0.5s;
}

.contact-btn button:hover{
    background-color: #4867b0;
    color: white;
}

/* footer */
.w3l-footer-22 .footer-sub {
    padding: 80px 0;
    background: #060e1f;
}
.right-side {
    padding: 50px;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 10px;
    background: #161c2d;
    position: absolute;
    left: 0;
    right: 0;
    top: -60px;
    box-shadow: 0px -1px 41px 0px rgb(21 22 23 / 8%);
}
.w3l-forms-9 .rightside-form button {
    background-color: #4867b0;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 0 8px 8px 0;
}
.w3l-footer-22 .sub-one-left h6,
.w3l-footer-22 .sub-two-right h6 {
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(23, 54, 88, 0.4);
    padding-bottom: 10px;
    font-weight: bold;
}
.w3l-footer-22 .sub-one-left p,
.w3l-footer-22 .sub-two-right p {
    font-size: 14px;
    line-height: 24px;
    color: #cecece;
}
.top__right li a {
    color: white;
}   

.w3l-footer-22 .sub-columns {
    margin-top: 120px;
}
.w3l-footer-22 ul.social li a {
    color: #fff;
    width: 35px;
    height: 35px;
    background: rgba(255, 255, 255, 0.06);
    display: inline-block;
    border-radius: 50%;
    text-align: center;
}
.w3l-footer-22 .columns-2 {
    margin-top: 1.2em;
}

.w3l-footer-22 .columns p,
.w3l-footer-22 .columns p a {
    font-size: 15px;
    line-height: 20px;
    color: #a0a0a0;
}
.w3l-footer-22 .sub-two-right ul li a {
    font-size: 14px;
    line-height: 24px;
    color: #cecece;
    margin: 0 0 10px 0;
    display: block;
}


.w3l-footer-22 .footer-list-before-icon ul li a {
    position: relative;
    padding-left: 14px;
}
.w3l-footer-22 .footer-list-before-icon ul li a:before {
    display: inline-block;
    font-family: 'FontAwesome';
    content: "\f101";
    position: absolute;
    left: 0px;
    font-size: 13px;
    color: #fff;
}
.w3l-footer-22 .sub-two-right ul li a:hover {
    color: #fff;
}

.w3l-footer-22 .columns p a {
    color: #fff;
}
.w3l-footer-22 .columns p a:hover {
    color: #fff;
    text-decoration: underline;
}
.w3l-footer-22 .column2 span {
    font-size: 18px;
    color: #fff;
    vertical-align: middle;
    margin-right: 10px;
    width: 25px;
    text-align: center;
}
.w3l-footer-22 .column2 a {
    text-decoration: none;
    color: #cecece;
    line-height: 25px;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
}
.w3l-footer-22 .href2 {
    margin-top: 10px;
    padding: 10px 0;
}
.w3l-forms-9 h4.title-head {
    font-size: 35px;
    line-height: 40px;
    color: var(--heading-color);
    font-weight: 600;
}
.w3l-forms-9 .rightside-form button {
    background: rgb(5, 5, 49);
    border: none;
    color: #fff;
    padding: 5px 25px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 0 8px 8px 0;
}
.w3l-forms-9 .rightside-form {
    display: flex;
}

/* copyright */
.w3l-footer-22 .copyright-footer {
    background: #040a17;
    padding: 20px 0;
}

/* Back to top */
.backtoTop{
    color: white;
    background-color: #4867b0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
}

.cd-top--is-visible{
    visibility: visible;
    opacity: 1;
}